body {
    padding: 100px;
    font-family: sans-serif;
    background-color: rgb(238, 238, 238);
    line-height: 1.5;
}

/* general view */

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    font-size: 1em/1.2;
}

img {
    padding: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25);
    border: 5px solid black;
}

.article1 img {
    float: right;
    margin-left: 30px;
    margin-bottom: 10px;
}

.article3 img {
    float: left;
    margin-right: 30px;
}

article {
    padding-top: 20px;
}

/* navi*/

header .title {
    font-weight: bold;
    vertical-align: bottom;
    font-size: 64px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
}

.nav {
    vertical-align: middle;
    float: right;
}

.nav ul {
    list-style-type: none;
}

.nav ul li {
    padding-right: 20px;
    color: green;
}

.nav, .nav ul li {
    display: inline-block;
}

hr {
    border: 2px solid black;
}

/* main */

main {
    display: inline-block;
    width: 50%;
}

/* article 2 */
.article2 section p:nth-child(2) {
    width: 40%;
    display: inline-block;
}

.article2 blockquote {
    font-family: Georgia, serif;
    font-style: oblique;
    color: gray;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    border-left: 5px solid lightgray;
    padding-left: 20px;
}

.article2 blockquote p:nth-child(2) {
    margin-left: 150px;
}

/* aside */

aside {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    padding-left: 120px;
}

aside ul {
    list-style-type: square;
}

aside ul li {
    padding-left: 0px;
    color: green;
}

aside ul li::marker {
    color: black;
}
