@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);

.viewport {
    position: relative;
    height: 50vh;
}


body div:first-child {
    background-image: linear-gradient(to right, rgb(0, 119, 255), rgb(0, 158, 84));
}

body div:nth-child(2) {
    background-image: linear-gradient(to right, darkmagenta, orange);
}

.card {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    max-height: 45vh;
    max-width: 30vh;
}

.card i {
    color: white;
    position: absolute;
    bottom: 10px;
    right: 5px;
}