@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
body {
    font-family: Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

main {
    background: #47befe;
    color: white;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.page-title {
    text-align: center;
}

.blog-articles {
    display: flex;
    align-items: center;
}

.blog-articles > article {
    background-color: white;
    margin: 15px;
    box-shadow: 0px 0px 3px 0px #615757;
    border-radius: 6px;
}

.blog-articles article:nth-child(1) {
    margin-left: 0;
}

.blog-articles article:last-child {
    margin-right: 0;
}

.img-wrapper {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    object-fit: cover;
}

.img-wrapper img {
    width: 100%;
}

.content {
    padding: 10px;
}

.content-title {
    color: #ff8c00;
    margin-top: 0;
}

.content-info {
    color: grey;
    display: flex;
    align-items: center;
}

.content-info p {
    margin-top: 0;
    margin-bottom: 0;
}

.content-info p img {
    margin-right: 6px;
    
}

.content-info-calendar {
    margin-right: 15px;
}

.content-text {
    color: black;
}

.btn {
    color: #ff8c00;
    border: none;
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
}

.btn i {
    margin-left: 10px;
    margin-top: 2px;
}

.read-more {
    display: flex;
    flex-direction: row-reverse;
}

.read-more-button {
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 12px 18px;
    font-weight: bold;
    margin-top: 30px;
}

