@media all and (max-width: 600px) {
    .navigation,
    .navigation-list,
    .benefits,
    .info-section {
        flex-direction: column;

    }

    .navigation-logo-wrapper {
        margin-bottom: 15px;
    }

    .header-img-wrapper {
        display: none;
    }

    .header-content-text,
    .info-section-item {
        width: 100%;
    }

    .info-section-item {
        margin-bottom: 40px;
    }
}